body {
    font-family: Arial, sans-serif;
    background-color: #ecc77d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.logo-img {
    width: 160px;
    height: auto;
}

.container {
    background-color: #fee0b5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px #0000001a;
    width: 300px;
}

h1 {
    font-family: Brush Script MT;
    text-align: center;
    color: #03ad00;
    font-size: 24px;
}

h2 {
    text-align: center;
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: black;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff3939;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d73535;
    transform: scale(1.05);
}

.mensagem {
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
    font-size: 14px;
}

.mensagem.sucesso {
    color: green;
}

.mensagem.Error {
    color: red;
}

.hidden {
    display: none;
}