body {
    font-family: Arial, sans-serif;
    background-color: #ecc77d;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fee0b5;
    border-radius: 10px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    font-family: Brush Script MT;
    text-align: center;
    font-size: 36px;
    color: #03ad00;
    margin-bottom: 40px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff3939;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu button:hover {
    background-color: #d73535;
    transform: scale(1.05);
}

.icon {
    margin-right: 10px;
}

.hidden {
    display: none !important;
}

#cadastro, #cardapio, #alterar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: black;
}

input {
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff3939;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d73535;
    transform: scale(1.01);
}

#sucessoCadastro, #erroCadastro, #sucessoAlterar, #erroAlterar {
    color: #bf4646;
    font-size: 14px;
    margin-top: 10px;
}

#sucessoCadastro, #sucessoAlterar {
    color: green;
}

#erroCadastro, #erroAlterar {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffecd1;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #ff3939;
    color: white;
}

table tr:hover {
    background-color: #ffe4be;
}

#buscar {
    padding: 8px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}